/*
* Creates a Analyze warning, but is necessary for style in the program.
*/
.root {
  -fx-background-color: #0A1A27;
}

/*
* Creates a Analyze warning, but is necessary for style in the program.
*/
.label {
  -fx-text-fill: #f5aa42;
}

.choice-box . label {
  -fx-text-fill: black;
}

.table-view .label {
  -fx-text-fill: #0A1A27;
}

.button {
  -fx-text-fill: #f5aa42;
}

.chart {
  -fx-text-fill: #f5aa42;
}


